* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 34);
  color: white;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: rgb(13, 13, 51);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
nav ul li a:hover {
  color: rgb(178, 178, 240);
}
.left {
  font-size: 1rem;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 130px 0;
}

.firstsection .btn {
  margin-right: 1px;
}

.firstsection .btn:hover {
  background-color: rgb(143, 134, 123);
}

.firstsection > div {
  width: 30%;
}
.leftsection {
  font-size: 2rem;
}
.leftsection .buttons {
  padding: 50px 0;
}
.leftsection .btn {
  padding: 12px;
  background: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  margin-right: 1.9px;
}
.rightsection img {
  width: 80%;
}
.purple {
  color: rgb(151, 75, 223);
}
#element {
  color: rgb(151, 75, 223);
}

/* Adjust this CSS for the "What I have Done So Far" section */
.secondsection {
  max-width: 80vw;
  margin: 60px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text horizontally */
}

.secondsection h1 {
  font-size: 1.3rem;
  color: rgb(109, 109, 128);
  margin-top: -5px;
}

.secondsection .textgray {
  font-size: 1.2rem;
  color: #c2c2c7;
}
.secondsection hr {
  border: none;
  height: 2px; /* Adjust the thickness of the line */
  background-color: #060518; /* Line color */
  margin: 20px 0; /* Adjust the margin as needed */
  position: relative;
}

.secondsection hr::before,
.secondsection hr::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px; /* Adjust the length of the diagonal lines */
  height: 1px; /* Adjust the thickness of the cutout lines */
  background-color: #9c97f1; /* Match the line color */
}

.secondsection hr::before {
  left: 0;
  transform: translateY(-50%) rotate(-45deg); /* Rotate -45 degrees for the left cutout */
}

.secondsection hr::after {
  right: 0;
  transform: translateY(-50%) rotate(45deg); /* Rotate 45 degrees for the right cutout */
}

.secondsection .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.secondsection .vertical {
  width: 30%;
  margin: 0 6vw;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.secondsection .vertical .img1 {
  margin-top: 45px;
  width: 80px; /* Increase the image size as needed */
  margin-bottom: 1px;
}

.secondsection .vertical-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 8px;
}

.secondsection .vertical-desc {
  color: gray;
  font-size: 0.9rem;
}
.hrr{
  margin-top: 68px;
  margin-bottom: -19px;
}

.contact-section {
  background-color: rgb(0, 0, 34);
  min-height: calc(100vh - 4);
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-section h1 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-top: 15px;
  font-size: 0.75rem;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  resize: none;
  font-size: medium;
  width: 80%;
  max-width: 500;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}

.contact-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}

.contact-form button {
  background: rgba(255, 255, 255, 0.269);
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
}
.contact-section .imgggg {
  display: flex;
  flex-wrap: wrap;
}
.contact-section .imgss {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
.contact-form button:hover {
  background: #1e2167;
  color: #9c97f1;
}
.footer {
  width: 100vw;
  height: 4rem;
  background: rgb(0, 0, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: small;
}
.caption-style {
  font-style: italic;
  font-weight: bold;
  font-size: larger; /* Adjust as needed */
}
/* .my-work{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.ttitle{
  position: relative;
}
.ttitle h1{
  padding: 0px 30px;
  font-size: 20px;
  font-weight: 550;
} */
/* .project-section {
  background-color: rgb(0, 0, 34);
  padding: 50px 0;
  color: white;
  text-align: center;
}

.project-section h1 {
<<<<<<< HEAD
  cursor: pointer;
  color: rgba(255, 255, 255, 0.726);
  font-size: 1.2em;
  margin-top: -20px;
  font-family: "Poppins", sans-serif;
=======
  color: rgba(255, 255, 255, 0.726); 
  font-size: 1.8em; 
  display: block;
  margin-bottom: 33px;
  font-family: 'Poppins', sans-serif;

}

.project-section h1:hover {
  color: #827b7b;
} */

/* .project-title {
  font-size: 24px;
  font-weight: bold;
}

.project-description {
  margin-top: 10px;
  color: #666;
} 

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
} */

/* .column {
  min-height: 356px;
  margin-top: 20px;
  border-radius: 13px;
  border: 1.5px solid rgb(196, 151, 151);
  width: 45%;
  padding: 7px;
  box-sizing: border-box;
} */

/* .project-image {
  box-sizing: border-box;
  width: 419px;
  height: 280px;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    transform: scale(1.10);
    border: 4px solid #7a377a;
    border-radius: 10px;
    transition: 0.3s;
  }
} */

/* .title {
  font-size: 0.95rem;
  color: white;
  margin-top: -5px;
  margin-bottom: 5px;
}

.descc {
  color: gray;
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: left;
  margin: 0;
  padding: 0;
} 

.github-button {
  position: relative;
  background-color: #333; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
  font-size: 12px;
  cursor: pointer;
  margin: 10px auto 0; 
  text-align: center;
  display: block; 
  text-decoration: none;
}

<<<<<<< HEAD
.github-button:hover {
  background-color: #555; 
} */

/* .projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem; 
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 3rem;
}

.project-card {
  max-width: 300px;
  background-color: #1a202c; 
  border: 1px solid #e5e7eb; 
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e5e7eb; 
}

.project-details {
  padding: 1rem;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #fefcbf, #fbbf24); 
  -webkit-background-clip: text;
  color: transparent;
}

.project-description {
  font-size: 1rem;
  color: #d1d5db;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-tag {
  font-size: 0.875rem;
  color: #3b82f6;
}

.github-link {
  color: #f87171; 
  border: 1px solid #e5e7eb; 
  border-radius: 0.375rem; 
  padding: 0.25rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.github-link:hover {
  color: #34d399; 
} */

.menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
    html, body , #root {
    min-width: -moz-fit-content !important;
    min-width: fit-content !important;
    overflow-x: hidden !important;
    width: 100vw;
  }
  .main-div{
    gap: 12em !important;
  }
  .left {
    font-size: 0.9rem;
    margin-left: 7rem;
    margin-top: 2.1rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    color: white;
    left: 7px;
    top: 27px;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      color: rgba(241, 245, 246, 0.808);
    }
  }
  .rightsection img {
    padding: 2rem;
    margin-bottom: 6rem;
    margin-right: 22rem !important;
  }
  .nav-links {
    display: none;
    position: absolute;
    width: 70%;
    top: 100%;
    padding: 0.5rem 4%;
    margin-left: 0;
    align-items: flex-start;
    background-color: #a7a3a3b1;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .nav-links.show {
    position: absolute;
    top: 52px;
    left: 6px;
    width: 100vw;
    height: 100vw;
    z-index: 10;
    display: block;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(100, 97, 97, 0.25);
    transition: 0.75s ease-out;
  }
  .nav-links li {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 0.0001rem;
  }
  .nav-links a {
    text-decoration: none;
    color: #d4c6c6;
  } 
  .leftsection {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-right: 22rem;
    padding: 1.2rem;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftsection .buttons {
    margin-bottom: 2rem;
    margin-right: 1rem;
  }

  
  .leftsection .btn {
    padding: 6px;
    margin-right: 0.2rem;
    font-size: 0.8rem;
  }
  .hide-btn {
    display: none;
  }
  .leftsection .btn2{
    display: none;
  }
  .secondsection{
    margin-right: 15rem;
  }
  .fshr {
    margin-top: -230px;
  }
  .secondsection .textgray {
    margin-top: -4rem;
    margin-left: -18rem;
  }
  .secondsection h1 {
    font-size: 1.3rem;
    color: rgb(109, 109, 128);
    margin-top: -8px;
    margin-left: -18rem;
  }
  .secondsection .box {
    margin-left: -19rem;
    margin-top: 14rem;
    margin-bottom: -9rem;
  }
  .my-projects{
    margin-top: 4rem !important;
    margin-left: -6.8rem !important;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
  }
  .my-work {
    margin-right: 181px;
    padding-right: 4rem !important;
    padding-left: 2rem !important;
    margin-left: -2rem;
  }
  .my-work h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-left: -8rem;
  }
  .title-desc{
    padding: 25px !important;
  }
  .project-card {
    margin-top: 0.2rem;
    padding-right: 1px;
    padding: 2px;
    margin-right: -0.7rem;
    display: flex;
    flex-direction: column;
    margin-left: -7.6rem;
    height: 40%;
    width: 74%;
    margin-bottom: -123px;
  }

  .project-image {
    width: 100%;
    height: 9rem;
  }
  .hrr{
    margin-top: 210px;
    margin-bottom: -212px;
  }
  .project-title {
    padding-top: 0.4rem;
    padding-left: 2rem;
  }
  .project-desc {
    padding-left: 0.4rem;
  }
  .github {
    
    padding: 0.5em !important;
  }
  .contact-section {
    margin-top: 20rem !important;
    padding-right: 24rem !important;
  }
  .contact-section h1 {
    margin-bottom: 3rem;
    white-space: nowrap; 
    display: inline-block;
    font-size: 1.5rem;
  }
  .contact-form input,
  .contact-form textarea {
    width: 90%;
  }
  .footer {
    width: 100%;
    font-size: 0.7rem;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }

  .imgss {
    margin: 0 2px;
  }  
} 


 @media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
    width: 100vw;
  }

  .contact-section {
    padding: 23px;
    text-align: center;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .secondsection .vertical {
    height: unset;
    position: relative;

    top: -200px;
  }
  .contact-section {
    top: -200px;
  }
  .contact-section {
    margin-top: -136px;
    height: auto;
  }
  .firstsection {
    flex-direction: column-reverse;
  }
  .vertical-title {
    left: 45px;
  }

  .vertical-desc {
    display: none;
  }

  .vertical-desc {
    display: none;
  }
  .secondsection.box {
    width: 50vw;
  }
  .leftsection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rightsection {
    width: 721px !important;
    display: flex;
    justify-content: center;
  }

  .secondsection {
    top: 45px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightsection img {
    width: 45%;
    margin-bottom: 56px;
    margin-right: 24.2rem;
  }
  .image-top {
    top: 133px;
  }
  .nav-links {
    display: none;
    position: absolute;
    margin-top: 0;
    width: 70%;
    top: 100%;
    padding: 0.5rem 4%;
    margin-left: 0;
    align-items: flex-start;
  }
  nav {
    width: 100%;

    background-color: (0, 0, 34);

    background-color: (0, 0, 34);

    top: 0;
    z-index: 2;
  }
  .right {
    margin-top: 10px;
  }

  .header {
    .header {
      padding: 1.25rem 4%;
      overflow-x: hidden;
    }
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      float: left;
      width: 100%;
      margin-right: 0px;
      background-color: #161515;
      position: fixed;
      top: 10px;
      left: 0;
    }

    nav ul li {
      display: block;
      margin: 1.5rem 0;
      margin-left: 15px;
    }

    .rightsection img {
      top: 30px;
      position: relative;
      margin-bottom: 10px;
    }
    .leftsection div {
      margin-top: 74px;
      margin-bottom: -69px;
    }

    .menu-icon {
      display: block;
      position: absolute;
      float: right;
      top: 45px;
      left: 8px;
      font-size: 1.4rem;
      width: 100%;
    }
    .rightsection img {
      top: 30px;
      position: relative;
      margin-bottom: 10px;
    }
    .leftsection div {
      margin-top: 74px;
      margin-bottom: -69px;
    }
    #element {
      .menu-icon {
        display: block;
        position: absolute;
        float: right;
        top: 45px;
        left: 8px;
        font-size: 1.4rem;
        width: 100%;
      }
      .rightsection img {
        top: 30px;
        position: relative;
        margin-bottom: 10px;
      }
      .leftsection div {
        margin-top: 74px;
        margin-bottom: -69px;
      }
      #element {
        position: relative;
        margin-bottom: 35px;
        margin: 68px;
      }
      .buttons {
        position: relative;
        top: -206px;
      }

      hr {
        position: relative;
        top: -168px;
      }
      .left {
        position: relative;
        right: -368px;
        top: 22px;
      }
      .secondsection .textgray {
        position: relative;
        top: -200px;
      }
      .secondsection h1 {
        position: relative;
        top: -200px;
        margin-bottom: 50px;
      }
    }
  }
} 

@media screen and (min-width: 371px) and (max-width: 450px) {
  body, html, #root {
    width: 100vw !important;
    overflow-x: hidden !important;
  }
  .rightsection img{
    margin-left: 2rem;
  }
  .animation{
    
  }
  .left {
    margin-left: 8.4rem !important;
  }
  .secondsection{
    margin-left: 12rem;
  }
  .my-projects{
    margin-top: 4rem !important;
    margin-left: -5.5rem !important;
    font-size: 2rem !important;
    font-weight: 500 !important;
  }
  .project-card{
       margin-left: -6.4rem;
  }
  .contact-section{
    margin-left: 10.7rem;
  }
  .footer{
    margin-left: 0.6rem;
  }
  .firstsection{
    margin-left: 0.5rem;
  }
}